<div class="game-container">
  <div class="game-header">
    <h3 class="head-score" [ngClass]="{'new-score': SnkNewScore}">Score: {{SnkScore}}</h3>
  </div>
  <div class="row" *ngFor="let column of SnkBoard; let i = index;">
    <div class="column" [ngStyle]="{'background-color': SnkSetColors(i, j)}" [ngClass]="{'apple':SnkSetApple(i, j)}" *ngFor="let row of column; let j = index"></div>
  </div>
  <div class="start-button" [ngClass]="{'disable-clicks': SnkGameStarted}" (click)="SnkCreateNewGame()">Start Game</div>

  <div class="new-game-menu" *ngIf="SnkShowGameOver">
    <span class="new-game-menu-label">Game Over</span>
  </div>

</div>